Repository hmcts/rdo-netbox, pull requests merged in 2023-06, with the labels that each got.

#13 DTSPO-14023 migrate Infra components from sds-aks-infra-legacy github repo
  .gitignore
  .pre-commit-config.yaml
  .terraform-docs.yml
  .terraform-version
  azure-pipelines-infra.yaml
  azure-pipelines.yml
  components/netbox/db.tf
  components/netbox/init.tf
  components/netbox/inputs-required.tf
  components/netbox/interpolated-defaults.tf
  components/netbox/main.tf
  components/netbox/redis.tf
  environments/ptl/ptl.tfvars
  environments/ptlsbox/ptlsbox.tfvars
Labels: ptlsbox-netbox/add-or-update, ptl-netbox/add-or-update

#16 Change the azurerm version b/c of redis backup issue
  components/netbox/db.tf
  components/netbox/init.tf
  components/netbox/redis.tf
Labels: ptl-netbox/add-or-update, ptlsbox-netbox/destroy

#17 add redis output variables
  components/netbox/redis.tf
Labels: ptlsbox-netbox/add-or-update, ptl-netbox/add-or-update

#22 DTSPO-14224 - Update packages
  charts/netbox/templates/deployment.yaml
  components/netbox/db.tf
  components/netbox/inputs-required.tf
  components/netbox/redis.tf
  environments/ptlsbox/ptlsbox.tfvars
  pipeline-templates/copy_files.yaml
  pipeline-templates/deploy.yaml
Labels: ptlsbox-netbox/add-or-update, ptl-netbox/no-changes

#24 DTSPO-14224 - Re-add poststart
  charts/netbox/templates/deployment.yaml
Labels: ptlsbox-netbox/add-or-update, ptl-netbox/no-changes
